{{ range .Site.Params.customCSS }}
  {{ if $.Site.IsServer }}
    {{ $styles := resources.Get . }}
    {{ if not $styles }}
      {{ errorf "Custom CSS file not found: %s" . }}
    {{ else }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ end }}
  {{ else }}
    {{ $styles := (resources.Get . | minify | fingerprint) }}
    {{ if not $styles }}
      {{ errorf "Custom CSS file not found: %s" . }}
    {{ else }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
    {{ end }}
  {{ end }}
{{ end }}

{{ range .Site.Params.customSCSS }}
  {{/* We don't change the targetPath because it's transparent to users */}}
  {{ if $.Site.IsServer }}
    {{ $cssOpts := (dict "enableSourceMap" true ) }}
    {{ $styles := resources.Get . | toCSS $cssOpts }}
    {{ if not $styles }}
      {{ errorf "Custom SCSS file not found: %s" . }}
    {{ else }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ end }}
  {{ else }}
    {{ $styles := (resources.Get . | toCSS | minify | fingerprint) }}
    {{ if not $styles }}
      {{ errorf "Custom SCSS file not found: %s" . }}
    {{ else }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
    {{ end }}
  {{ end }}
{{ end }}
