<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <title>{{ .Title }}</title>
    {{ partial "calculator/head.html" . }}
</head>
<body class="preload-transitions {{ if .Site.Params.rtl }} rtl{{ end }}">
    {{ partial "header.html" . }}

    <main class="wrapper">
        <div class="content">
            <div class="calculator">
                {{ .Content }}
            </div>
        </div>
    </main>

    {{ partial "footer.html" . }}
    <script src="{{ "js/custom-calculator.js" | relURL }}"></script>
</body>
</html>
